@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@100;300;400&display=swap');

@keyframes modal {
  0% {transform: translateY(-50%);top: -800px;}
  50% {transform: translateY(-50%);top: 55%;}
  100% {transform: translateY(-50%);top: 50%;}
}
@keyframes modalHide {
  0% {transform: translateY(-50%);top: 55%;}
  99% {transform: translateY(-50%);top: 8000px;}
  100% {display: none;}
}
@keyframes HighlightText {
  50% {font-size: 42px;}
}

* {
  --background: #D1D1D1;
  --background-2: #ECECEC;
  --text: #354246;
  --text-hover: rgba(0,0,0,0.9);
  --background-blur: rgba(236, 236, 236, 0.62);
  --border: #FCFCFC;

  --checked: #8FBC8F;
  --highlight: #CD5C5C;

  --background-dark: #1F2020;
  --background-2-dark: #3B3B3B;
  --text-dark: #E4E4E2;
  --text-hover-dark: rgba(255,255,255,0.9);
  --background-blur-dark: rgba(50, 50, 50, 0.62);
  --border-dark: #000;

  --blur: blur(20px) saturate(120%);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  transition: color 0.9s;
  transition: background-color 1s;
}
body {
  background: var(--background);
  color: var(--text);
}
.night-mode body {
  background: var(--background-dark);
  color: var(--text-dark);
}
